#circulo{
  width: 150px;
  height: 150px;
  border-radius: 100px;
  background-color: rgb(222, 95, 142);
  position: absolute;
  left: 50px;
  top: 50px;
  /*Llamar a la animación*/
  animation:  animacion 5s linear 0s infinite alternate backwards;
  /*Forma alternativa de hacerlo:
  animation-name: animacion;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction:alternate;
  animation-fill-mode: backwards;*/
}

/*Crear animación*/
@keyframes animacion {
  0%{
    top: 50px;
    left: 50px;
    background-color: rgb(222, 95, 142);
  }
  25%{
    top: 50px;
    left: 1200px;
    background-color: rgb(208, 95, 222);
  }
  50%{
    left: 1200px;
    top: 500px;
    background-color: rgb(106, 95, 222);
  }
  75%{
    left: 50px;
    top: 500px;
    background-color: rgb(95, 123, 222);
  }
  100%{
    top: 50px;
    left: 50px;
    background-color: rgb(255, 199, 222);
  }
}
